.jumbotron{
  text-align:center;
}

.ten {
    text-align:center;
    color: black;
    font-size: 40px;
    font-weight:bold;
}

.ten2 {
    text-align:center;
    color: black;
    font-size: 40px;
    font-weight:bold;
}

.intro {
    text-align:center;
    color: black;
    font-size: 18px;
    //font-weight:bold;
}

.t{
  padding-top: 10px;
  background-color: lightblue;
  padding-bottom: 20px;
  
}


.edu {
    text-align:left;
    color: black;
    font-size: 18px;
    //font-weight:bold;
}

.foot {
  font-weight:bold;
  text-align: center;
}

.pub {
    text-align:left;
    color: black;
    font-size: 18px;
    //font-weight:bold;
}
